@import "./resets";
@import "./variables";

body {
  font-family: "Poppins", sans-serif;
}

section {
  padding: 3rem;
}

img {
  width: 100%;
}

.link-button {
  text-decoration: none;
  font-weight: 700;
  color: $white-color;
  background-image: linear-gradient(45deg, $primary-color, $secondary-color);
  padding: 10px 20px;
}

#top-section {
  background-image: url("../../images/header-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  h1 {
    font-size: 2.5rem;
    color: $primary-color;
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 2rem;
    color: $gray-color;
  }
  .half-width:last-child {
    margin-top: 2rem;
  }
}

#biography-section {
  @extend #top-section;
  background-image: url("../../images/biography-bg.png");
  h2 {
    margin-bottom: 1rem;
  }
}

#works-section {
  background-image: url("../../images/latest-work-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
  .one-third {
    padding: 1rem 0;
  }
}

#footer-section {
  background-image: url("../../images/footer-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  text-align: center;
  h2 {
    margin-bottom: 2rem;
  }
  h6 {
    color: $gray-color;
    margin-bottom: 1rem;
  }
  & > p {
    text-align: justify;
    margin-bottom: 4rem;
  }
  #contact {
    padding: 4rem 1rem;
    color: $white-color;
    background-image: linear-gradient(45deg, $primary-color, $secondary-color);
    border-radius: 10px;
    overflow: scroll;
  }
}

footer {
  p {
    font-size: 12px;
    text-align: center;
    padding-bottom: 1rem;
    color: $gray-color;
  }
}

@media (min-width: 768px) {
  section {
    padding: 3rem 6rem;
  }

  #top-section {
    background-position: top left;
  }
}

@media (min-width: 992px) {
  #top-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #biography-section {
    .half-width:last-child {
      order: 1;
    }
    .half-width:first-child {
      order: 2;
    }
  }
  #works {
    display: flex;
    .one-third {
      padding: 1rem;
    }
  }
}
